@import "https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700;900&family=Mulish:wght@300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Archivo:wght@500;600;700;900&family=Mulish:wght@300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Alata&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
.active-item a {
  color: #5c86e4;
  font-weight: 700;
}

.py_headerLink {
  color: #000000;
  margin-right: 20px;
}
.py_headerLink:hover {
  color: #5c86e4;
}

.py_loginit {
  background-color: #5c86e4 !important;
  padding: 9px 2rem;
  margin-left: 10px;
  border-radius: 30px !important;
  color: #ffffff !important;
  font-weight: 800;
}
.py_loginit:hover {
  background-color: #91aff0 !important;
}

.py_TryItNow {
  background-color: #5c86e4 !important;
  padding: 10px 4rem;
  margin-left: 10px;
  border-radius: 30px !important;
  color: #ffffff !important;
  font-weight: 800;
}
.py_TryItNow:hover {
  background-color: #91aff0 !important;
}

.py_freeTrial {
  background-color: transparent;
  color: rgb(15, 32, 74);
  border: 1px solid rgb(15, 32, 74);
  padding: 12px 4rem;
  border-radius: 5px;
  border-radius: 30px;
  color: #000000;
  font-weight: 800;
  text-decoration: none;
}
.py_freeTrial:hover {
  background-color: #5c86e4 !important;
  border: 1px solid #5c86e4;
}

.py_freeTrial-2 {
  background-color: transparent;
  color: rgb(15, 32, 74);
  border: 1px solid #ffffff;
  padding: 12px 4rem;
  border-radius: 5px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 800;
  text-decoration: none;
}
.py_freeTrial-2:hover {
  background-color: #5c86e4 !important;
  border: 1px solid #5c86e4;
}

.py_Header .logo-text {
  color: #161616;
  font-family: Alata;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.py_Web-slider {
  background-image: url("/images/slider-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.py_Web-slider .py_Slider-content {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.py_Web-slider .title {
  color: #161616;
  text-align: center;
  font-family: Akshar;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}
.py_Web-slider .content {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
.py_Web-slider .py_sliderButtons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.py_Web-slider .py_sliderButtons .py_freeTrial {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 4rem;
  border-radius: 30px !important;
  font-weight: 800;
}
.py_Web-slider .py_sliderButtons .py_freeTrial:hover {
  background-color: #5c86e4 !important;
  border: 1px solid #5c86e4;
}

.trading-bg {
  background-image: url("/images/trading-bg.png");
  background-size: cover;
  height: 150vh;
}

.trading-content {
  margin-top: -25rem !important;
}

.py_Web-Teams {
  padding: 90px;
}
.py_Web-Teams .py_Slider-content {
  margin-top: 50px;
}
.py_Web-Teams .title {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}
.py_Web-Teams .content {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.py_Web-Teams .py_sliderButtons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.py_Web-Teams .py_sliderButtons .py_freeTrial {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  padding: 8px 4rem;
  border-radius: 30px !important;
}
.py_Web-Teams .py_sliderButtons .py_freeTrial:hover {
  background-color: #5c86e4 !important;
  border: 1px solid #5c86e4;
}

.py_Web-section-msps {
  padding: 140px 50px 80px 50px;
  background-image: url("/images/spaces-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.py_Web-section-msps .shapes-box {
  margin-top: 3rem;
}
.py_Web-section-msps .step-main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.py_Web-section-msps .step-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.py_Web-section-msps .step-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
}
.py_Web-section-msps .step-box .title {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}
.py_Web-section-msps .title {
  color: #fff;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}
.py_Web-section-msps .content {
  color: #fff;
  text-align: justify;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.py_Web-section-msps .numbers {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  color: #5c86e4;
  margin-top: 30px;
}
.py_Web-section-msps .services-box {
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 20px !important;
}
.py_Web-section-msps .services-box .services-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 0;
}
.py_Web-section-msps .services-box .services-title-2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: rgb(15, 32, 74);
}
.py_Web-section-msps .services-box .content {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.py_Web-section-services {
  padding: 80px 50px;
  background: rgb(255, 255, 255);
}
.py_Web-section-services .services-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.py_Web-section-services .title {
  color: #161616;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}
.py_Web-section-services .subtitle {
  margin-top: 30px;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: rgb(15, 32, 74);
}
.py_Web-section-services .numbers {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  color: #5c86e4;
  margin-top: 30px;
}
.py_Web-section-services .services-box {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px !important;
}
.py_Web-section-services .services-box img {
  max-height: 240px;
}
.py_Web-section-services .services-box .services-title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: rgb(15, 32, 74);
  margin-bottom: 0;
}
.py_Web-section-services .services-box .services-title-2 {
  color: #161616;
  font-family: Akshar;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.py_Web-section-services .services-box .content {
  color: #161616;
  font-family: Actor;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.py_Web-section-single {
  padding: 80px 50px;
  background: #edf1f8;
}
.py_Web-section-single .services-box {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px !important;
}
.py_Web-section-single .services-box .services-title-2 {
  color: #161616;
  font-family: Akshar;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.py_Web-section-single .services-box .content {
  color: #161616;
  font-family: Actor;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.py_Web-section-single .webinar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: end;
  justify-content: end;
  text-align: center;
}
.py_Web-section-single .webinar .first-titles {
  color: #000;
  font-family: Akshar;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-right: 2rem;
}
.py_Web-section-single .webinar img {
  cursor: pointer;
}
.py_Web-section-single .first-title {
  color: #000;
  font-family: Akshar;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 8rem;
}
.py_Web-section-single .title {
  color: #161616;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}
.py_Web-section-single .subtitle {
  color: #161616;
  text-align: justify;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2.5rem;
}
.py_Web-section-single .content {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.py_Web-section-single .numbers {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 82px;
  color: #5c86e4;
}

.py_Web-section-modernize {
  padding: 80px 50px;
  background: #ffffff;
}
.py_Web-section-modernize .title {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #001824;
}
.py_Web-section-modernize .subtitle {
  margin-top: 30px;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 33px;
  color: #ffffff;
}
.py_Web-section-modernize .content {
  margin-top: 30px;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.py_Web-section-modernize .numbers {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 82px;
  color: #5c86e4;
}

.py_sliderButtons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.py_sliderButtons .py_freeTrial {
  background-color: transparent;
  color: rgb(15, 32, 74);
  border: 1px solid rgb(15, 32, 74);
  padding: 8px 4rem;
  border-radius: 5px;
}
.py_sliderButtons .py_freeTrial:hover {
  background-color: #5c86e4 !important;
  border: 1px solid #5c86e4;
}

.py_Web-Year {
  padding: 50px;
  background: #f2e6dc;
}
.py_Web-Year .single-pane {
  background-color: #fff6ef;
  border-radius: 20px;
  padding: 80px;
}
.py_Web-Year .py_Slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.py_Web-Year .title {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}
.py_Web-Year .content {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.py_Web-Year .py_sliderButtons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.py_Web-Year .py_sliderButtons .py_freeTrial {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  padding: 8px 4rem;
  border-radius: 30px !important;
}
.py_Web-Year .py_sliderButtons .py_freeTrial:hover {
  background-color: #5c86e4 !important;
  border: 1px solid #5c86e4;
}

.py_Web-Ready {
  padding: 90px;
}
.py_Web-Ready .title {
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}
.py_Web-Ready .content {
  font-family: "Actor";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.py_Web-Ready .py_TryItNow {
  margin-left: -1px;
}
.py_Web-Ready .py_sliderButtons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.py_Web-Ready .py_sliderButtons .py_freeTrial {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  padding: 8px 4rem;
  border-radius: 5px;
}
.py_Web-Ready .py_sliderButtons .py_freeTrial:hover {
  background-color: #5c86e4 !important;
  border: 1px solid #5c86e4;
}

.py_Web-footer {
  padding: 90px;
  background: #171717;
}
.py_Web-footer .footer-trading-box {
  margin-top: 2rem;
}
.py_Web-footer .footer-trading-box .title {
  color: #fff;
  font-family: Actor;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 183.333% */
  text-transform: uppercase;
}
.py_Web-footer .footer-trading-box .content {
  color: #fff;
  font-family: Actor;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  text-transform: capitalize;
  cursor: pointer;
}
.py_Web-footer .footer-box-title .title {
  color: #fff;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  text-transform: lowercase;
}
.py_Web-footer .title {
  color: #ffffff;
}
.py_Web-footer .content {
  color: #ffffff;
}
.py_Web-footer .py-link {
  color: #5c86e4;
  text-decoration: none;
}
.py_Web-footer .py-Newsletter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}
.py_Web-footer .py-newsletter {
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
  text-align: start;
}
.py_Web-footer .py-newsletter-input {
  background: transparent;
  border: 1px solid #ffffff;
  padding: 8px 6rem 8px 1rem;
  border-radius: 5px;
  color: #ffffff;
}
.py_Web-footer .py-newsletter-input::-moz-placeholder {
  color: #ffffff;
}
.py_Web-footer .py-newsletter-input::placeholder {
  color: #ffffff;
}

.py_Web-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
}
.py_Web-Form .hood {
  margin-bottom: 40px;
}
.py_Web-Form .hood .title {
  font-weight: 600;
}
.py_Web-Form .hood .content {
  color: rgb(116, 116, 116);
}
.py_Web-Form .py_form-content {
  padding: 0 50px;
  text-align: start;
}

.nav-link {
  white-space: nowrap;
}

#pageMessages {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30%;
}

.alert {
  position: relative;
}
.alert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}
.alert .fa {
  margin-right: 0.3em;
}

.py_footer-pages {
  display: flex;
  flex-direction: column;
}
.py_footer-pages a {
  text-decoration: none;
}

.py_Document-section .py_Document {
  padding: 60px 20px;
}
.py_Document-section .py_Document .title {
  font-weight: 600;
  margin-bottom: 25px;
}

.shapes-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-shape {
  width: 500px;
  margin-top: -150px;
}

.features-services {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.features-services img {
  max-width: 300px;
}

@media only screen and (max-width: 768px) {
  .trading-bg {
    background-image: url("/images/slider-bg.png");
    background-size: contain;
    height: 70vh !important;
  }
  .features-slider {
    padding: 0 !important;
    height: 43vh !important;
  }
  .py_Web-section-services {
    margin-top: -7rem;
  }
  .features-services {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .features-services img {
    margin-top: 2rem;
  }
  .content-img-box {
    margin-top: 4rem;
  }
  .trading-content {
    margin-top: 0rem !important;
  }
  .py_Web-slider .title {
    font-size: 26px;
  }
  .py_Web-slider .content {
    font-size: 15px;
  }
  .nav.nav-pills .nav-link {
    padding: 0.1rem;
  }
  .about-shape {
    width: 300px;
    margin-top: 0px;
  }
  .py_headerLink {
    margin-right: 0.8rem;
  }
  .latest {
    margin-top: 50px !important;
  }
  .modernize {
    margin-top: 40px !important;
  }
  .modernize .title {
    margin-bottom: 0 !important;
  }
  .py_Web-section-msps {
    padding: 40px 20px 40px 20px;
  }
  .py_Web-section-msps .title {
    font-size: 25px;
  }
  .py_Web-section-msps .numbers {
    font-size: 76px;
    line-height: 62px;
  }
  .py_Web-section-msps .content {
    font-size: 14px;
  }
  .py_Web-section-services {
    padding: 40px 20px 40px 20px;
  }
  .py_Web-section-services .title {
    font-size: 25px;
    line-height: 36px;
  }
  .py_Web-section-services .services-box .content {
    font-size: 18px;
  }
  .py_Web-section-services .services-box .services-title-2 {
    font-size: 22px;
  }
  .py_Web-section-services .services-box {
    padding: 0;
  }
  .py_Web-section-modernize {
    padding: 20px 20px 40px 20px;
  }
  .py_Web-section-modernize .title {
    font-size: 25px;
    line-height: 40px;
  }
  .py_Web-section-modernize .py_sliderButtons {
    flex-direction: column;
  }
  .py_Web-section-single .services-box {
    padding: 0;
  }
  .py_Web-section-msps .step-box {
    flex-direction: column;
  }
  .py_Web-section-msps .step-box .title {
    font-size: 24px;
  }
  .webinar-img img {
    margin-top: 3rem;
  }
  .py_Web-section-single .first-title {
    margin-bottom: 3rem;
  }
  .py_Web-section-single {
    padding: 20px 20px 40px 20px;
  }
  .py_Web-section-single .title {
    font-size: 25px;
  }
  .py_Web-section-single .subtitle {
    font-size: 15px;
    margin-top: 0;
  }
  .py_Web-section-single .webinar {
    display: none;
  }
  .py_Web-section-single .numbers {
    font-size: 40px;
  }
  .py_Web-section-single .py_sliderButtons {
    flex-direction: column;
  }
  .py_Web-section-single .service-img {
    width: 100%;
  }
  .py_Web-slider {
    padding: 20px 20px 40px 20px;
    height: 80vh;
  }
  .py_Web-slider .py_Slider-content .py_sliderButtons {
    flex-direction: column;
  }
  .nav-pills {
    justify-content: center;
  }
  .py_Web-Teams {
    padding: 20px 20px 40px 20px;
  }
  .tech-img {
    margin-left: 0;
    margin-top: 30px;
  }
  .py_Web-Year {
    padding: 40px 20px 40px 20px;
  }
  .py_Web-Year .single-pane {
    padding: 20px;
    margin-top: 20px;
  }
  .py_Web-Year .content {
    margin-bottom: 1.5rem !important;
  }
  .mobile-hide {
    display: none;
  }
  .py_Web-Ready {
    padding: 20px;
  }
  .ready-img {
    margin: 40px 0 !important;
  }
  .hide-ready-img {
    display: none;
  }
  .py_Web-footer {
    padding: 30px 20px;
  }
  .py-Newsletter-box {
    margin-left: 0 !important;
    margin-top: 50px;
  }
  .newsletter-boxs {
    flex-direction: column;
  }
  .newsletter-boxs .py_TryItNow {
    margin-left: 0;
  }
  .py_Web-Form .py_form-content {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */